.board{
    text-align:center;
    margin:auto;
  }
  
  .board-row{
    display:flex;
    justify-content: center;
  }
  
  .btn{
    height:120px;
    width:120px;
    font-size: 50px;
    background-color: blueviolet;
  }
  .status{
      font-weight: 550;
      margin-top: 10px;
      font-size: 20px;
      letter-spacing: 1px;
  }
  .board-box{
      height: 361px;
      width: 362px;
      margin: auto auto;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }